/* @override http://localhost:8000/static/team.css */

/*page structure team*/

body 
{
  font-family: Verdana;
  background: #cdd5f6 url('achtergrond.jpg');
  margin: 1em;
}

span.teamname 
{
  font-weight: bold;
  font-size: 20px;
}

table.main 
{
  width:95%;
}

table.content 
{
  width:100%;
}

tr.content_header 
{
  background-color: #4758BD;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

td.error
{
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

a.content_header 
{
  text-decoration: none;
  font-weight: bold;
  color: white;
}

a.content_header:hover
{
  text-decoration: underline;
  color: black;
}	

a.back_to_groups 
{ 
  text-decoration: none;
  color: white;
}

a.back_to_groups:hover
{
  text-decoration: underline;
  color: white;	
}

tr.content_body1
{
  font-size :14px;
  background-color: #E7E9F7;
}

tr.content_body2
{
  font-size :14px;
  background-color: #F0FFFF;
}        

tr.message_body
{
  background-color: #F0FFFF;
}

/*columns in scores table*/
td.nr
{
  width:40px;
}

td.score
{
  width:40px;
  text-align: center;
  font-weight: bold;
}

td.time
{
  width:40px;
  text-align: center;
  font-size: 12px;
}

/*cell in scorelist representing a solved problem*/
td.app
{
  background-color: #69b169!important;
  background-image : url('correct.png');
  background-position: right center;
  background-repeat: no-repeat;
  text-align : center;
  font-weight: bold;
  color : black;
  width : 60px;
}

/*cell in scorelist representing a not-solved problem */
td.not_app

{ 	background-color: #ab5656!important;
  background-image: url('incorrect.png');
  background-position: right center;
  background-repeat: no-repeat;
  text-align : center;
  font-weight: bold;
  color : black;
  min-width:25px;
  width :60px;

}


td.title
{
  text-align:center;
  color: white;
  background-color: #4758BD;
  font-weight: bold;
  font-size: 33px;

}
td.menu
{
  text-align:center;
  background-color: #FF8C00;
  width: 25%;
  font-weight: bold;
  font-size: 17px;
}

/*The teamtool background*/
tr.body
{
  /*background-color: #E7E9F7;*/
  background-color: transparant;
  /*background-color: #CCCCCC; */
  vertical-align:top;
}

a.menu 
{
  text-decoration: none;
  color: white;
}

table.index 
{
  width: 400px;
}

td.index
{
  text-align: center;
}

a.index
{
  text-decoration: none;
  color: black;
}

a:hover
{
  text-decoration: none;
  color: black;
}

input
{
  font-family: verdana;
  font-size: 12px;
}

textarea
{
  font-family: verdana;
  font-size: 12px;
}


/* Login page style */
body.login
{
  background: #e7e9f7;
  text-align: center;
  vertical-align: middle;
}

#masthead {
  color: #fff;
  background-color: #4758BD;
  background-image: url(/static/achtergrond2.jpg);
  width: 100%;
  height: 120px;
  text-align: center;
}

#masthead h1 {
  padding-top: 0.7em;
}

#loading {
  float: right;
  display: none;
}

/* status bar style */

#status {
  width: 171px;
  background: #4758BD;
  margin: 0px;
  padding: 5px;
  text-align: center;
  float: right;
  height: 80px;
}

#status_time, #status_clarifications {
  width: 85px;
  height: 30px;
  padding-top: 8px;
  float: left;
  font-size: 8px;
}

#status_time {
  font-size: 22px;
}

#status_results a, #status_clarifications a {
  color: #fff;
  text-decoration: none;
}

#status_results a:hover, #status_clarifications a:hover {
  text-decoration: underline;
}

.status_new {
  background: url(/static/button3.png) no-repeat center center;
}

#contest_time {
  font-size: 12px;
  font-weight: bold;
  padding-top: 1em;
  clear: both;
}

/* menu bar */
#masthead ul {
  clear: right;
  list-style-type: none;
  display: table;
  width: 100%;
  table-layout: fixed;
  background-color: #E7E9F7;
  margin: 0;
  padding: 0;
}

#masthead li {
  margin: 10px;
  display: table-cell;
}

#masthead li a {
  color: #fff;
  text-decoration: none;
  display: block;
  width: 180px;
  height: 29px;
  background: #e8e7f5 url(button.png) no-repeat center center;
  padding-top: 10px;
}

#masthead li a:hover {
  text-decoration: underline;
}

