/*page structure look*/
body
{
  text-align : center;
  font-family: verdana;
  background-image: url('achtergrond.jpg');
}

table.main
{
  width : 95%;
  
}

table.content
{
  width : 100%;
}

td.title

{     
  text-align :center;
  color : white;
  background-color : #4758BD;
  font-weight : bold;
  font-size : 33px;
}

td.menu
{  
  text-align : center;
  background-color : #FF8C00;
  width : 25%;
  font-weight : bold;
  font-size : 17px;
}

/*The jurytool background*/
tr.body
{
  background-color : #E7E9F7;
  vertical-align : top;
}

/*Main menu buttons*/
a.menu
{
  text-decoration : none;
  color : black;
}

a:hover
{
  text-decoration: underline;
  color: black;
}

/* content table header */
tr.content_header
{
  background-color : #4758BD;
  color : white;
  font-size : 14px;
  font-weight : bold;
}

a.content_header
{
  text-decoration: none;
  color: white;
  font-weight: bold;
  
}

/* content table row (2 colours alternating) */
tr.content_body1
{
  font-size : 14px;
  background-color : #e7e9f7;
}

tr.content_body2
{
  font-size : 14px;
  background-color : #F0FFFF;
}

/* background of a piece of tekst (clarifications/request) */
tr.message_body
{
  background-color : #F8E7D6;
}

/*columns in scores table*/
td.nr
{
  width:40px;
}

td.score
{
  width:40px;
  text-align: center;
  font-weight: bold;
}

td.time
{
  width:40px;
  text-align: center;
  font-size: 12px;
}

/*cell in scorelist representing a solved problem*/
td.app
{ 	background-color: #69b169!important;
  background-image : url('correct.png');
  background-position: right center;
  background-repeat: no-repeat;
  font-weight: bold;
  text-align : center;
  font-size : 14px;
  color : black;
  width : 60px;
}

/*cell in scorelist representing a not-solved problem */
td.not_app

{       background-color: #ab5656!important;
  background-image: url('incorrect.png');
  background-position: right center;
  background-repeat: no-repeat;
  font-weight: bold;
  text-align : center;
  font-size : 14px;
  
  color : black;
  width :60px;
}

/*body tables*/
table.index
{
  width : 100%;
}

table.index_small
{
  width : 350px;
}

table.details
{
  width : 100%;
}

table.settings
{
  width : 600px;
}

td.index
{
  text-align: center;
}

a.index
{
  color: blue;
}

/*input fiels */
input
{
  font-family: monospace;
  font-size: 12px;
}

textarea
{
  font-family: monospace;
  font-size: 12px;
}

/* status bar style */
td.status_status
{
  background: #4758BD;
  color: white;
  font-size: 18px;
  text-align: center;
  width : 50%;
}

td.status_time
{
  background : #4758BD;
  color : white;
  font-size : 20px;
  text-align : center;
  width : 50%;
}

body.status
{
  background:#4758BD;
  padding: 0px;
}

table.status
{
  background: #4758BD;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

/* Login page style */
body.login
{
  background: gray;
  text-align: center;
  vertical-align: middle;
}

table.login
{
  width: 200px;
}
