<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>SZP4</title>
	<link rel="stylesheet" href="/static/szp.css" type="text/css">
</head>

<body>
	<div id="masthead">
		<h1>SZP4</h1>
		<ul>
			<li><a href="/look/">Scorelist</a></li>
			<li><a href="/team/">Team</a></li>
			<li><a href="/jury/">Jury</a></li>
			<li><a href="/admin/">Admin</a></li>
		</ul>
	</div>
	<div class="body">
		<h2>Welcome to Sub Zero Programming, version 4.</h2>
		
		<p>For more information about SZP including its source code, check out <a href="https://github.com/WISVCH/szp4">github.com/WISVCH/szp4</a>.
	</div>
</body>
</html>
