{% extends "jury_base.html" %}

{% block content %}
<h1>Submissions</h1> 

<table align="center" class="index_small">
  <tr class="content_header">
    <td>&nbsp;Index</td>
  </tr>
  {% for problem in problemlist %}
  <tr class="{% cycle 'content_body2' 'content_body1' %}">
    <td>
      <a class="index" href="/jury/submission/{{problem.letter}}/">&nbsp;
        {% ifnotequal problem.letter 'all' %}
        {{problem.letter}}:
        {% endifnotequal %}
        
        {{problem.name}} – {{problem.count}}
        {% ifnotequal problem.unverified 0 %}
        <b>({{problem.unverified}} unverified)</b>
        {% endifnotequal %}
      </a>
    </td>
  </tr>
  {% endfor %}
</table>

<script type="text/javascript">
setTimeout("location.reload()", 15000);
</script>

{% endblock %}
