{% extends "jury_base.html" %}

{% block content %}
<h1>Submissions</h1> 
<table class="details" width="100%">
	<tr class="content_header" align="middle">
  	<td width="13%" align="center">
  		<a class="back_to_groups" href="/jury/submission/all/" style=":hover (  text-decoration: underline; color: white; }">Back to list</a>
  	</td>
		<td>Submission details</td>
	</tr>
</table>
<table class="index">
	<tr class="content_header">
		<td class="index" width="7%">time</td>
		<td class="index" width="6%">subm.</td>
		<td class="index">team</td>
		<td class="index">prob</td>
		<td class="index">time limit</td>
		<td class="index">filename</td>
		<td class="index">compiler</td>
		<td class="index">status</td>
		<td class="index">result</td>
		<td class="index">verified by</td>
		<td class="index">change</td>
	</tr>

	<tr class="content_body1">
		<td class="index">{{time}}</td>
		<td class="index">{{submission.id}}</td>
		<td class="index">
			<span title="{{submission.team.id}}">{{submission.team.name}}</span>
		</td>
		<td class="index">
			<span title="{{submission.problem.name}}">{{submission.problem.letter}}</span>
		</td>
		<td class="index">{{submission.problem.timelimit}} sec.</td>
		<td class="index">{{submission.file_name}}</td>
		<td class="index">{{submission.compiler.name}}</td>
		<td class="index">{{submission.status}}</td>
		<td class="index">{{judgement}}
		</td>
		<form method="post">
			<td class="index">
				{% if verified_by %}
				{{verified_by}}
				{% else %}
				Nobody
				<input type="submit" value="Verify" name="verify" {% if not has_result %}disabled {% endif %}>
				{% endif %}
			</td>
		</form>

		<td class="index">
			<a href="/jury/submission/{{submission.id}}/changeresult/">change</a>
		</td>
	</tr>
</table>
<br>
<table width="100%">
	<tr class="content_header">
		<td width="45%">&nbsp;Program Code</td>
		<td width="5%"><a href="/jury/submission/{{submission.id}}/download/program_code">Download</a></td>
		<td width="45%">&nbsp;Compiler Output</td>
		<td width="5%"><a href="/jury/submission/{{submission.id}}/download/compiler_output">Download</a></td>
	</tr>
	<tr class="content_body1">
		<td align="center" colspan="2">
			<textarea cols="55" rows="24">{{ program_code }}</textarea>
		</td>
		<td align="center" colspan="2">
			<textarea cols="55" rows="24">{{ compiler_output }}</textarea>
		</td>
	</tr>
</table>
<br>
<table width="100%">
	<tr class="content_header">
		<td width="45%">&nbsp;Observed Output File</td>
		<td width="5%"><a href="/jury/submission/{{submission.id}}/download/submission_output">Download</a></td>
		<td width="45%">&nbsp;Expected Output File</td>
		<td width="5%"><a href="/jury/submission/{{submission.id}}/download/expected_output">Download</a></td>
	</tr>
	<tr class="content_body1">
		<td align="center" colspan="2">
			<textarea cols="55" rows="24">{{ submission_output }}</textarea>
		</td>
		<td align="center" colspan="2">
			<textarea cols="55" rows="24">{{ expected_output }}</textarea>
		</td>
	</tr>
</table>
<br>
<table width="100%">
	<tr class="content_header">
		<td width="45%">&nbsp;Output Diff File</td>
		<td width="5%"><a href="/jury/submission/{{submission.id}}/download/output_diff">Download</a></td>
		<td width="45%">&nbsp;Input File</td>
		<td width="5%"><a href="/jury/submission/{{submission.id}}/download/problem_input">Download</a></td>
	</tr>
	<tr class="content_body1">
		<td align="center" colspan="2">
			<textarea cols="55" rows="24">{{ output_diff }}</textarea>
		</td>
		<td align="center" colspan="2">
			<textarea cols="55" rows="24">{{ problem_input }}</textarea>
		</td>
	</tr>
</table>
<br>
<table width="100%">
	<tr class="content_header">
		<td width="50%" colspan="2">&nbsp;Judge Comment</td>
		<td width="45%">&nbsp;Autojudge Comment</td>
		<td width="5%"><a href="/jury/submission/{{submission.id}}/download/autojudge_comment">Download</a></td>
	</tr>
	<tr class="content_body1">
		<td align="center" colspan="2">
			<form action="{{ request.path }}" method="post">
				<textarea cols="55" rows="10" name="text">{{ judge_comment }}</textarea><br/>
				<input type="submit" value="Save" name="save" {% if not has_result %}disabled {% endif %}>
			</form>
		</td>
		<td align="center" colspan="2" valign="top">
			<textarea cols="55" rows="10">{{ autojudge_comment }}</textarea>
		</td>
	</tr>
</table>

{% endblock %}
