{% extends "jury_base.html" %}

{% block content %}
<H1>Clarification</H1>
<table class="content">
  <tr>
    <td align="center" valign="top">
      <form action="index.php?p=_mail&g=" method="post">
	<table width="320">
	  <tr class="content_header">
	    <td class="content_header" colspan="2">&nbsp;Send Clarification to Team(s)</td>
	  </tr>
	  <tr class="content_body1">
	    <td>
	      <select name="problem">
		<option value="General">General</option>
		{% for problem in problemlist %}
		<option value="{{problem.letter}}">{{problem.letter}}: {{problem.name}}</option>
		{% endfor %}
	      </select>
	    </td>
	    <td>
	      <select name="team">
		<option value="global">Global (everyone)</option>
		{% for team in teamlist %}
		<option value="{{team.id}}">{{ team.name }}</option>
		{% endfor %}
	      </select>
	    </td>
	  <tr class="content_body1">
	    <td colspan="2">
	      <input type="text" maxlength="50" name="subject" value="" size="50">
	    </td>
	  </tr>
	  <tr class="content_body1">
	    <td colspan="2">
	      <textarea name="body" cols="50" rows="8"></textarea>
	    </td>
	  </tr>
	  <tr class="content_body1">
	    <td colspan="2" align="center">
	      <input type="hidden" value="NULL" name="reply">
	      <input type="submit" name="send" value="Send">
	    </td>
	  </tr>
	</table>
      </form>
    </td>
    <td align="center" valign="top">
      <table class="clarindex">
	<tr class="content_header">
	  <td>&nbsp;Index</td>
	</tr>
	<tr class="content_body1">
	  <td>
	    <a class="index" href="index.php?p=_mail&g=clar">&nbsp;Sent Clarifications- 2 messages 
	    </a>
	  </td>
	</tr>

	<tr class="content_body2">
	  <td>
	    <a class="index" href="index.php?p=_mail&g=all">&nbsp;All Clarification Requests- 3 messages 
	      <b>(3 unanswered)</b>
	    </a>
	  </td>
	</tr>
	<tr class="content_body1">
	  <td>
	    <a class="index" href="index.php?p=_mail&g=general&m=">&nbsp;General - 0 messages 
	    </a>
	  </td>
	</tr>
	<tr class="content_body2">
	  <td>
	    <a class="index" href="index.php?p=_mail&g=1">&nbsp;A: Obfuscate -  1 message 
	      <b>(1 unanswered)</b>
	    </a>
	  </td>
	</tr>
	<tr class="content_body1">
	  <td>
	    <a class="index" href="index.php?p=_mail&g=2">&nbsp;B: Epluribus -  1 message 
	      <b>(1 unanswered)</b>
	    </a>
	  </td>
	</tr>
	<tr class="content_body2">
	  <td>
	    <a class="index" href="index.php?p=_mail&g=3">&nbsp;C: Coneasoup - 0 messages 
	    </a>
	  </td>
	</tr>
      </table>
    </td>
</table>


{% endblock %}
