{% extends "jury_base.html" %}

{% block content %}
<h1>Submissions</h1> 

<p>Are you sure you want to change the result?</p>

<p>Teams will be notified there are "NEW RESULTS". The scoreboard might change when using this function – even when the contest is in NOINFO.</p>

<form method="post">
  <table class="index">
    <tr class="content_header">
      <td class="index">time</td>
      <td class="index">subm.</td>
      <td class="index">team</td>
      <td class="index">prob.</td>
      <td class="index">time limit</td>
      <td class="index">filename</td>
      <td class="index">compiler</td>
      <td class="index">status</td>
      <td class="index">result</td>
      <td class="index">verified by</td>
      <td class="index">change</td>
    </tr>

    <tr class="content_body1">
      <td class="index">{{time}}</td>
      <td class="index">{{submission.id}}</td>
      <td class="index">
        <span title="{{submission.team.id}}">{{submission.team.id}}</span>
      </td>
      <td class="index">
        <span title="{{submission.problem.name}}">{{submission.problem.letter}}</span>
      </td>
      <td class="index">{{submission.problem.timelimit}} sec.</td>
      <td class="index">{{submission.file_name}}</td>
      <td class="index">{{submission.compiler.name}}</td>
      <td class="index">{{submission.status}}</td>
        <td class="index">
          <select name="judgement">
            {% for j in judgementlist %}
            <option value="{{j.name}}"{% if j.selected %} selected{% endif %}>{{j.name}}</option>
            {% endfor %}
          </select>
        </td>
        <td class="index">
          {% if verified_by %}
          {{verified_by}}
          {% else %}
          Nobody
          {% endif %}
        </td>
        <td class="index">
          <input type="submit" value="Change" name="change">
        </td>
    </tr>
  </table>

<p>Or: <input type="submit" value="Rejudge" name="rejudge"></p>


</form>

{% endblock %}
