<table class="content">
  <tr class="content_header">
    <td align="center" colspan="{{problems.count|add:5}}">{{ contest }}</td>
  </tr>
  <tr class="content_header">
    <td class="single">No.</td>
    <td>Team</td>
    <td>Organisation</td>
    <!--	<td>Class</td>-->
    <td class="single">Score</td>
    <td class="single">Time</td>
    {% for problem in problems %}
    <td class="single">{{ problem.letter }}</td>
    {% endfor %}
  </tr>
  {% for scorelist in scoreboard %}
  <tr>
    <td colspan="{{problems.count|add:5}}">{{ scorelist.name.capitalize }}</td>
  </tr>
  {% for score in scorelist.list %}
    <tr class="{% cycle 'content_body1' 'content_body2' %}">
      <td class="single">{{ score.rank }}</td>
      <td>{{ score.name }}</td>
      <td>{{ score.organisation }}</td>
      <!--	<td><b>{{ score.class }}</td>-->
      <td class="single">{{ score.score }}</td>
      <td class="single">{{ score.time }}</td>
      {% for problem in score.details %}
        {% if problem.correct %}
        <td class="app">{{problem.count}}&nbsp;<small>({{problem.time}})</small></td>
        {% else %}
        <td class="not_app">
            {% if not problem.count %} 
            - 
            {% else %}
            {{ problem.count }}
            {% endif %}
        </td>
        {% endif %}
      {% endfor %}
    </tr>
    {% endfor %}
  {% endfor %}
</table>

<script type="text/javascript">
setTimeout("location.reload();",30000);
</script>