{% if new_results %}
<div id="status_results" class="status_new">
  <a href="/team/submission/">NEW<br/>RESULTS</a>
</div>
{% else %}
<div id="status_results" class="status_no_new">
  <a href="/team/submission/">NO NEW<br/>RESULTS</a>
</div>
{% endif %}
{% ifequal new_clars 0 %}
<div id="status_clarifications" class="status_no_new">
  <a href="/team/clarification/">NO NEW<br/>CLARIFICATIONS</a>
</div>
{% else %}
<div id="status_clarifications" class="status_new">
  <a href="/team/clarification/">{{ new_clars }} NEW<br/>CLARIFICATIONS</a>
</div>
{% endifequal %}


<div id="contest_time">{{ status_time }}</div>
<div id="status_rank">Team rank: {{ rank }}</div>
