{% if s.new_results %}
<div id="status_results" class="status_new">
  <a href="/team/submission/">NEW<br/>RESULTS</a>
</div>
{% else %}
<div id="status_results" class="status_no_new">
  <a href="/team/submission/">NO NEW<br/>RESULTS</a>
</div>
{% endif %}
{% ifequal s.new_clars 0 %}
<div id="status_clarifications" class="status_no_new">
  <a href="/team/clarification/">NO NEW<br/>CLARIFICATIONS</a>
</div>
{% else %}
<div id="status_clarifications" class="status_new">
  <a href="/team/clarification/">{{ s.new_clars }} NEW<br/>CLARIFICATIONS</a>
</div>
{% endifequal %}

<div id="status_time_rank">
  {{ s.status_time }}
  {% ifnotequal s.status_time "WAIT" %}
    <br/>Team rank: {{ s.rank }}
  {% endifnotequal %}
</div>