{% extends "team_base.html" %}

{% block content %}

<H1>Clarifications</H1>
<table class="content">
  <tr>
    <td align="center" valign="top">
      <table width="320">
	<tr class="content_header">
	  <td class="content_header" colspan="2">&nbsp;Viewing message</td>
	</tr>
	<tr class="content_body1">
	  <td width="50%">A: Obfuscate</td>
	  <td width="50%">&nbsp;test</td>
	</tr>
	<tr class="content_body1">
	  <td colspan="2">&nbsp;test a</td>
	</tr>
	<tr class="message_body">
	  <td colspan="2">test</td>
	</tr>
	<form action="index.php?p=_mail&g=all" method="post">
	  <tr class="content_body1">
	    <td colspan="2" align="center">
	      <input type="submit" name="new" value="New Message">
	    </td>
	  </tr>
	</form>
      </table>
    </td>
    <td align="center" valign="top">
      <table class="clarindex">
	<tr class="content_header">
	  <td colspan="3">&nbsp;Index of: {{ clar.problem }}</td>
	</tr>
	{% for c in clarlist %}
	<tr class="{% cycle 'content_body1' 'content_body2' %}">
	  <td colspan="3">
	    <a class="index" href="/team/clarification/{{c.url}}/">&nbsp;[{{c.time}}]
	      {{ c.subject }} 
	      {% if c.new %}
	      <b>(new)</b>
	      {% endif %}
	    </a>
	  </td>
	</tr>
	{% endfor %}
	<tr class="content_header">
	  <td width="25%">
	  </td>
	  <td align="middle">
	    <a class="back_to_groups" href="/team/clarification/" style=":hover ( text-decoration: underline; color: white; }">
	      Back to Groups
	    </a>
	  </td>
	  <td width="25%">
	  </td>
	</tr>
      </table>
    </td>
</table>


{% endblock %}
