<html>
<head>
	<title>SZP TeamTool</title>
	<link rel="stylesheet" href="/static/team.css" type="text/css">
	<script type="text/javascript" src="/static/jquery.js"></script>
	<script type="text/javascript" charset="utf-8">
	var refreshData = function() {
			$.ajax({ 
				method: "get",url: "/team/status/",
				beforeSend: function(){$("#loading").fadeIn("fast");},
				complete: function(){ $("#loading").fadeOut("fast");},
				success: function(status) {
					$("#status").html(status);
					setTimeout("refreshData()", 60000);
				}
			});
	}
	$(document).ready(function(){ $("#loading").html("Refreshing"); setTimeout("refreshData()", 5000); });
	</script>
</head>

<body>
	<div id="masthead">
		<div id="status">
		        {% if new_results %}
			<div id="status_results" class="status_new">
				<a href="/team/submission/">NEW<br/>RESULTS</a>
			</div>
			{% else %}
			<div id="status_results" class="status_no_new">
				<a href="/team/submission/">NO NEW<br/>RESULTS</a>
			</div>
			{% endif %}
			{% ifequal new_clars 0 %}
			<div id="status_clarifications" class="status_no_new">
				<a href="/team/clarification/">NO NEW<br/>CLARIFICATIONS</a>
			</div>
			{% else %}
			<div id="status_clarifications" class="status_new">
				<a href="/team/clarification/">{{ new_clars }} NEW<br/>CLARIFICATIONS</a>
			</div>
			{% endifequal %}


			<div id="contest_time">{{ status_time }}</div>
			<div id="status_rank">Team rank: {{ rank }}</div>
		</div>
		<div id="loading"></div>
		<h1>SZP TeamTool </h1>
		<ul>
			<li><a href="/team/">Home</a></li>
			<li><a href="/team/score/">Scorelist</a></li>
			<li><a href="/team/clarification/">Clarifications</a></li>
			<li><a href="/team/submission/">Submissions</a></li>
		</ul>
	</div>
	<div class="body">{% block content %}{% endblock %}</div>
</body>
</html>
